body{
	background-color: rgb(231, 231, 231);
}
header {
	height: 50px;
	background-color: rgb(224, 208, 183);
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	padding: 5px;
	box-shadow: 0px 0px 10px 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	background: linear-gradient(rgb(224, 208, 183) 0%,rgb(61, 35, 0) 340%);
	z-index: 5;
}
.icon {
	border: 3px solid white;
	display: inline-block;
	width: 45px;
	height: 45px;
	position: relative;
	top: -2px;
	border-radius: 30px;
}
.logo {
	display: inline-block;
	top: -15px;
	position: relative;
	color: white;
	font-family: sans-serif;
	margin: 0 auto 0 15%;
	width: 200px;
}

header img {
	width: 50px;
	float: right;
	position: relative;
	right: 10px;
	opacity: 0.5;
}

.logo a {
	color: white;
	text-decoration: none;
}

header img.highlight, header img.highlighted {
	opacity: 1;
}

header input {
	width: 25%;
	display: inline-block;
	position: relative;
	top: -20px;
	border: none;
	padding: 5px 5px 5px 10px;
	border-radius: 5px;
	color: grey;
}

header input:focus {
	outline: none;
	background-color: rgb(255, 248, 232);
}

.create {
	display: none;
	text-align: left;
	width: 735px;
	margin: 92px auto 0 auto;
	position: fixed;
	left: 0;
	right: 0;
	height: 300px;
	background: rgba(255, 255, 255, 0.8);
	padding: 25px;
	border-radius: 8px;
	z-index: 2;
	box-shadow: 0px 0px 5px 0px grey;
}

.create input, .create textarea {
	display: block;
	margin: 10px 0 0 0;
	font-family: sans-serif;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 0px 1px 0px grey;
	border: none;
	border-radius: 5px;
	color: grey;
	padding: 5px;
	z-index: 2;
}

.create input:focus, .create textarea:focus {
	outline: none;
	background-color: rgb(247, 247, 247);
}

.create img {
	width: 27px;
	display: inline-block;
	float: right;
	margin-right: 13px;
	margin-top: 5px;
}

content {
	position: relative;
	top: 55px;
	text-align: center;
	display: block;
}

.snapshot {
	width: 250px;
	height: 190px;
	box-shadow: 0px 0px 5px 0px grey;
	padding: 15px 25px 15px 25px;
	display: inline-block;
	margin: 10px;
	background-color: white;
	font-family: sans-serif;
	text-align: left;
}

.snapshot a {
	font-size: 18px;
	color: black;
}

.snapshot article {
	font-size: 14px;
	height: 155px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.snapshot p {
	float: right;
	font-size: 11px;
	color: grey;
	position: relative;
	text-align: right;
	margin-right: -15px;
}

.snapshot.detail{
	width: 650px;
	height: auto;
	padding: 50px;
	position: relative;
}

.snapshot.detail article {
	height: auto;
	overflow-y: visible;
	text-indent: 35px;
	line-height: 26px;
	font-size: 12px;
	margin: 10px 5px 0 5px;
}

.snapshot.detail p {
	float: none;
	text-align: left;
	margin: 3px;
}

img#delete {
	position: absolute;
	right: 13px;
	width: 50px;
	top: 14px;
	opacity: 0.1;
}

img#edit {
	position: absolute;
	right: 73px;
	width: 45px;
	top: 17px;
	opacity: 0.1;
}
img#delete.highlight, img#edit.highlight {
	opacity: 0.7;
}

.editing input[type="text"] {
	display: inline-block;
	margin: 10px 0 10px 0;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	border-bottom: 1px solid grey;
}

.editing textarea {
	width: 100%;
	border: 1px solid grey;
	height: 500px;
	margin: 10px 0 10px 0;
	font-family: sans-serif;
}

.editing input:focus, .editing textarea:focus {
	outline: none;
}

.snapshot.detail.editing {
	padding-top: 65px;
}

.editing img#accept {
	position: absolute;
	right: 13px;
	width: 50px;
	top: 14px;
	opacity: 0.1;
}

.editing img#reject {
	position: absolute;
	right: 73px;
	width: 45px;
	top: 17px;
	opacity: 0.1;
}

img#accept.highlight, img#reject.highlight {
	opacity: 0.7;
}

p#seach {
color: rgb(113, 112, 112);
font-size: 26px;
font-family: sans-serif;
text-shadow: 0px 1px 1px rgb(255, 255, 255);
}